.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #000; /* Change title text color to black */
  font-size: 60px;

}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.chat-box {
  width: 90%;
  max-width: 800px;
  height: 400px;
  border: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
  background-color: rgba(249, 249, 249, 0.452); /* Set slight transparency */
}

.chat-message {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

.user {
  background-color: #cce5ff;
  align-self: flex-start;
}

.bot {
  background-color: #f8d7da;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chat-input input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

.chat-input button {
  padding: 8px 16px;
  background-color: #ff6347;
  border: none;
  color: #fff;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #d94e3b;
}